body {
    margin: 0;
    padding: 0;
    background: pink;
}

.carousel {
    transform: translateY(-100px);
    height: 800px;
    perspective: 600px;
}

.carousel .carousel-item {
    width: 350px;
    height: 450px;
}

.carousel .carousel-item img {
    width: 350px;
    height: 450px;
}

.carousel .carousel-item p {
    margin: -5px 0 0;
    padding: 0;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.button {
    background-color: blue;
    border: solid rgb(17, 209, 243);
    border-radius: 0px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: -5px;
    display: block;
    text-align: center;
}